* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

body {
    background-color: #faed56;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
}

.creation {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25%;
    min-width: 380px;
    background-color: #fbc32f;
    text-align: center;
    padding-top: 35px;

    &__logo {
        text-transform: uppercase;
        font-family: 'Baloo 2', cursive;
        font-size: 7.5rem;
    }

    // &__form {
    //     position: relative;
    //     width: 300px;
    //     margin: 10% auto;
    // }

    &__title {
        background-color: #faed56;
        width: 300px;
        height: 50px;
        padding: 10px 15px;
        font-family: inherit;
        font-size: 1.8rem;
        font-weight: 700;
        border: none;
        margin: 50px auto 10px;

        &::placeholder {
            font-style: italic;
            color: #555555;
        }
    }

    &__textarea {
        background-color: #faed56;
        resize: none;
        width: 300px;
        height: 200px;
        padding: 20px;
        font-size: 1.5rem;

        border: none;

        &::placeholder {
            font-style: italic;
            color: #555555;
        }
    }

    &__colors {
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px auto;
    }

    &__color {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        // border: 1px dotted black;

        &--active {
            width: 50px;
            height: 50px;
            border: 1px solid rgb(117, 117, 117);
        }

        &--green {
            background-color: #e2ffbf;
        }
        &--red {
            background-color: #ff6666;
        }
        &--blue {
            background-color: #66b5ff;
        }
        &--pink {
            background-color: #ff90ed;
        }
        &--mint {
            background-color: #63ffa1;
        }
    }
}

.notes {
    // width: 100%;
    display: grid;
    // justify-content: center;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 50px;
    margin: 50px auto;
}

.note {
    width: 250px;
    min-height: 200px;
    background: #e2ffbf;
    padding: 15px;
    // overflow: scroll;
    // border: 1px solid black;
    border-radius: 7px;
    position: relative;

    &__title {
        font-size: 2rem;
    }

    &__content {
        font-size: 1.3rem;
        margin: 10px;
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 15px;
        // justify-self: flex-end;

        position: absolute;
        bottom: 10px;
        left: 0;
    }

    &__date {
        font-weight: 700;
        font-style: italic;
    }

    &__img {
        width: 24px;
        height: 24px;
    }
}
