* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #faed56;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.creation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 25%;
  min-width: 380px;
  background-color: #fbc32f;
  text-align: center;
  padding-top: 35px;
}

.creation__logo {
  text-transform: uppercase;
  font-family: 'Baloo 2', cursive;
  font-size: 7.5rem;
}

.creation__form {
  width: 300px;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.creation__title {
  background-color: #faed56;
  width: 300px;
  height: 50px;
  padding: 10px 15px;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  margin: 50px auto 10px;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.creation__title::-webkit-input-placeholder {
  font-style: italic;
  color: #555555;
}

.creation__title:-ms-input-placeholder {
  font-style: italic;
  color: #555555;
}

.creation__title::-ms-input-placeholder {
  font-style: italic;
  color: #555555;
}

.creation__title::placeholder {
  font-style: italic;
  color: #555555;
}

.creation__textarea {
  background-color: #faed56;
  resize: none;
  width: 300px;
  height: 200px;
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.creation__textarea::-webkit-input-placeholder {
  font-style: italic;
  color: #555555;
}

.creation__textarea:-ms-input-placeholder {
  font-style: italic;
  color: #555555;
}

.creation__textarea::-ms-input-placeholder {
  font-style: italic;
  color: #555555;
}

.creation__textarea::placeholder {
  font-style: italic;
  color: #555555;
}

.creation__options {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.creation__colors {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

.creation__color {
  width: 100px;
  height: 20px;
}

.creation__label {
  font-weight: 700;
}

.creation__btn {
  width: 80px;
  margin: 20px auto;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.creation__btn:hover {
  font-size: 1.8rem;
  border-bottom: 2px solid black;
}

article {
  width: 100%;
}

.pinnedNotes {
  width: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.notes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.note {
  width: 300px;
  min-height: 250px;
  background: #e2ffbf;
  padding: 15px;
  margin: 20px;
  border-radius: 7px;
  position: relative;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.note__title {
  font-size: 2rem;
  word-break: break-word;
}

.note__content {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px;
  word-break: break-word;
  overflow: hidden;
  margin-bottom: 10px;
}

.note__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 15px;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.note__date {
  font-weight: 700;
  font-style: italic;
}

.note__img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.note__img:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */